/* ----------  public css ---------- */
.container-fluid {max-width: 1600px;}
body.main, body.main .price{ font-family:Microsoft YaHei,Arial,Helvetica,sans-serif; overflow-x:hidden; background:url(../image/storage/body_bg.jpg) center top no-repeat}
.main h1,.main h2,.main h3,.main h4,.main h5{ font-family:Microsoft YaHei,Arial,Helvetica,sans-serif;}
/* ---------- menu ---------- */
.header{padding:20px 0;}
.header img{ height:120px;}


.content { position:relative;}
/* ---------- banner ---------- */
.banner{ clear:both; overflow: hidden; margin-right:370px;}
.slider_control {width:100%; height:400px; overflow:hidden; position:relative;}
.slider_control ul {height:100%; position:absolute; z-index:1; margin:0; padding:0;}
.slider_control ul li {float:left; width:800px; height:100%; overflow:hidden; position:relative; background-repeat:no-repeat; background-position:center;}

.slider_control .btnBg {position:absolute; height:30px; left:20px; bottom:20px; z-index:2; display:none;}
.slider_control .btn {position:absolute;  height:20px; padding:0;  bottom:15px; right:15px; z-index:3; }
.slider_control .btn span {display:block; border:2px solid #999; float:left; width:16px; height:16px; _font-size:0; margin-left:8px;  cursor:pointer; background-color:#ccc; overflow:hidden; border-radius:50%;}
.slider_control .btn span.on {background-color:#80C3FA; border-color:#1e90ff;}
.slider_control .prevnext { display:none; z-index:3; width:45px; height:100px; position:absolute; top:140px; background:url(../images/sprite.png) no-repeat 0 0; cursor:pointer;}
.slider_control .prev {left:0;}
.slider_control .next {right:0; background-position:right top;}


/* ---------- login ---------- */
.login-panel{ border-radius:0; border:1px solid #4187b4; margin:0; background-color:rgba(255, 255, 255, 0.6); width:320px; position:absolute; right:0; top:0; }
.login-panel .panel-heading{ background-color:#4187b4; padding:15px 20px;}
.login-panel h4{ text-align:center; margin:0; color:#fff; position:relative; font-weight:bold; font-size:22px; letter-spacing:2px;}
.login-panel small{ font-size:12px; line-height:16px; font-family:Tahoma, Geneva, sans-serif; color:#fff;}
.login-panel .panel-body{ padding:20px;}
.login-panel .form-group .form-control{ background-color:rgba(255,255,255,0.8); color:#333; font-size:13px; box-shadow:none;border:1px solid #4187b4; padding-left:50px; border-radius:0  !important;}
.login-panel .form-group .form-control:focus{ background-color:rgba(255,255,255,1); -webkit-box-shadow:0 0 10px rgba(0, 177,255,0.5); -moz-box-shadow:0 0 10px rgba(0, 177,255,0.5); box-shadow:0 0 10px rgba(0, 177,255,0.5);}
.login-panel .form-group .has-icon .form-control-icon{ text-align:center; color:#fff; background-color:#4187b4; display:inline-block; width:40px;}
.login-panel .form-group .has-icon .form-control-icon i{ font-size:16px;}
.login-panel .form-group .form-control.parsley-error{ z-index:2;}
.login-panel .form-group.btn-toolbar{ margin:0 0 15px 0;}
.login-panel .form-group .btn-group{ float:inherit; display:block; margin:0;}
.login-panel hr{ margin-top:5px; margin-bottom:10px; border-color:rgba(0, 177,255,0.5);}
.login-panel .form-group .dropdown-menu{ width:100%; border-radius:0;}
.login-panel .form-group .btn-lg{ position:relative; padding:10px 5px; background-color:#4187b4; border-radius:0; border:0; color:#fff; line-height:24px; letter-spacing:2px; transition:all 0.5s ease 0s;}
.login-panel .form-group .btn-lg:hover{ color:#fff; background-color:#00b1e1;}
.login-panel .form-group .btn-lg i{ position:absolute; right:15px; top:12px; font-size:1.2em;}
.login-panel .form-group .register{ margin-top:5px; margin-bottom:0; line-height:20px;}
.login-panel .form-group .register a{ padding-bottom:0; border-bottom:1px solid #00b1e1;}



/* ---------- content ---------- */
.container_wapper{ width:1170px; margin:0 auto;}
.container_wapper h2{line-height:42px; text-align:center; margin:0 0 30px 0; color:#00b1e1; font-size:32px;}
.container_wapper p{color:#777; margin-bottom:20px; font-size:15px; line-height:30px;}


.btn-register{ display: inline-block; border:2px solid #eee; padding:10px 35px; line-height:30px; font-size:18px; color:#eee; font-family:Microsoft YaHei,Arial,Helvetica,sans-serif; transition:all 0.5s ease 0s;}
.btn-register:hover{ color:#fff; background-color:rgba(255,255,255,0.2);}


/* footer */
.footer{ margin-top:50px;}
.footer p{ line-height:30px; text-align:center; font-size:14px;}


@media (min-width: 992px) and  (max-width: 1179px) {
	.container_wapper{ width:900px; margin:0 auto; padding:0;}
	.slider_control ul li{ width:530px; background-size:contain;}
}

@media (max-width: 991px) {
	.container_wapper{ width:auto; margin:0 10px; padding:0;}
	.header { padding:10px 0;}
	.header img{height: 40px;}
	
	.login-panel{ width:auto; position:inherit;}
	.banner{ margin:0 auto 30px; width:300px;}
	.slider_control{ height:160px;}
	.slider_control ul li{ width:300px; background-size:contain;}
	.slider_control .btn{ left:50%; right:auto; bottom:0;}
	.slider_control .btn span{ position:relative; right:50%;}
	
}
