
@font-face {font-family: "iconfont";
  src: url('../v2_fonts/iconfont.eot'); /* IE9*/
  src: url('../v2_fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../v2_fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../v2_fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../v2_fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi2:before { content: "\e60b"; }

.icon-mail:before { content: "\e613"; }

.icon-pinterest:before { content: "\e614"; }

.icon-search:before { content: "\e60c"; }

.icon-liwu:before { content: "\e620"; }

.icon-close:before { content: "\e60e"; }

.icon-del:before { content: "\e654"; }

.icon-duihao:before { content: "\e623"; }

.icon-star:before { content: "\e610"; }

.icon-play2:before { content: "\e832"; }

.icon-facebook:before { content: "\e612"; }

.icon-cart2:before { content: "\e66d"; }

.icon-product:before { content: "\e61b"; }

.icon-time:before { content: "\e6a9"; }

.icon-hert:before { content: "\e601"; }

.icon-weizhi:before { content: "\e63e"; }

.icon-home:before { content: "\e626"; }

.icon-view:before { content: "\e61c"; }

.icon-youtube:before { content: "\e615"; }

.icon-google:before { content: "\e616"; }

.icon-guanbi:before { content: "\e60d"; }

.icon-qiantubiao:before { content: "\e621"; }

.icon-back:before { content: "\e63d"; }

.icon-play3:before { content: "\e8bc"; }

.icon-feiji:before { content: "\e604"; }

.icon-crown2:before { content: "\e61a"; }

.icon-bag:before { content: "\e629"; }

.icon-gift:before { content: "\e66e"; }

.icon-jinbi:before { content: "\e605"; }

.icon-jindu:before { content: "\e60f"; }

.icon-info:before { content: "\e61e"; }

.icon-flighticonwriteimppsd:before { content: "\e642"; }

.icon-dengdai:before { content: "\e606"; }

.icon-gift1:before { content: "\e622"; }

.icon-shop:before { content: "\e61f"; }

.icon-xin2:before { content: "\e607"; }

.icon-star1:before { content: "\e608"; }

.icon-account:before { content: "\e602"; }

.icon-twitter:before { content: "\e619"; }

.icon-shaixuan:before { content: "\e650"; }

.icon-share-link:before { content: "\e617"; }

.icon-follow:before { content: "\e618"; }

.icon-jindutiao:before { content: "\e611"; }

.icon-love:before { content: "\e603"; }

.icon-share:before { content: "\e634"; }

.icon-weizhi2:before { content: "\e63f"; }

.icon-msg:before { content: "\e6ac"; }

.icon-dol:before { content: "\e736"; }

.icon-edit:before { content: "\e65d"; }

.icon-instagram:before { content: "\e627"; }

.icon-crown:before { content: "\e600"; }

.icon-xin:before { content: "\e609"; }

.icon-car:before { content: "\e655"; }

.icon-arr-up:before { content: "\e653"; }

.icon-view1:before { content: "\e61d"; }

.icon-top:before { content: "\e88e"; }

.icon-air4:before { content: "\e65e"; }

.icon-air:before { content: "\e64b"; }

.icon-doller:before { content: "\e625"; }

.icon-anquan:before { content: "\e60a"; }

.icon-play:before { content: "\e6d0"; }

.icon-dollar:before { content: "\e624"; }

.icon-cart:before { content: "\e501"; }

.icon-arr-right:before { content: "\e833"; }

.icon-arr-down:before { content: "\e834"; }

.icon-arr-left:before { content: "\e835"; }



.avatar-wrap{width: 53px; height: 53px; border-radius: 50%; border:3px #fff solid; overflow:hidden; box-shadow: 1px 1px 6px #ddd; 
background-color:#fff;}
.avatar-wrap>img{ width: 48px; height: 48px;}

.text-primary{ color:#E62117 !important;}
.text-info{ color:#767676 !important;}

.t-overflow{white-space: nowrap; overflow: hidden;text-overflow:ellipsis; }

/*html5 load */
.loader {
  margin: 4px auto;
  font-size: 12px;
  position: relative;
  text-indent: -99999px;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.pulldownload{
	display:none; position: absolute; top: 16px; left: 50%; margin-left: -16px; z-index: 11;
	width: 32px; height: 32px; background: #fff; border-radius: 50%; box-shadow: 1px 1px 4px #767676;
	}
.pulldownload .loader{
	border-top-color: #e62117;
  border-right-color: #e62117;
  border-left-color: #e62117;
  }
  
.loading-wrap{ position:fixed; top:50%; left:50%; margin-top:-40px; margin-left:-40px; width:80px; height:80px; border-radius:16px; background-color:rgba(0,0,0,.6); z-index:1000;}
.loading-mask{ position:fixed; top:0; bottom:0; width:100%; z-index:999; background-color:transparent;}
.loading-wrap .loader{ margin-top: 10px; border-width: 8px;}
.loading-wrap .loader,
.loading-wrap .loader:after {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.msg-alert{ display:none; position:fixed; top:30%; left:50%; padding:1rem 0; margin-left:-40%; background-color:#fff; border:1px solid transparent; width:80%; text-align:center; font-size:0.875rem; line-height:1.25rem; border-radius:.75rem; box-shadow:1px 1px .75rem #ccc; z-index:99999;}
.msg-alert p{ color: #fff; margin:0; padding:0 1rem;}
.msg-alert.error{ background-color:#f2dede; color:#a94442; border-color:#ebcccc;}
.msg-alert.success{ background-color:#dff0d8; color:#3c763d; border-color:#dff0d8;}
.msg-alert.default{ background-color:rgba(31,31,31,.7); color:#fff; border-color:rgba(31,31,31,.7);}

@media (min-width: 640px) {
	html,body{max-width: 640px; margin: 0 auto;}
	.mui-iframe-wrapper{ max-width: 640px; left: 50%; margin-left: -320px;}
	footer.footer-nav{ max-width: 640px;}
	header.mui-bar{ max-width: 640px; left: 50%; margin-left: -320px;}
	#ourMallGuarantee{ max-width: 640px;}	
	.p-d-bottom-bar{ max-width: 640px; left: 50% !important; margin-left: -320px;}
	.side-btn-group{ right: auto;}
	#selectVariation{ max-width: 640px;}
	.watch-card .left{ max-width: 360px !important;}
	.side-btn-group{ left: 50%; margin-left: 330px;}
	.r-v-list>li .r-v-info{ padding-right: 170px !important;}
	
}