body{background-color: #f1f1f1; color: #222; font-size: 16px;}
a{ color: #4285f4;}
header.mui-bar{ height: auto; padding: 0; }
header.mui-bar .row:first-child
{
	width: 100%;
	height: 32px; 
	background-image: url(../v2_images/header-bg.jpg); 
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	display: flex;
	align-items: center;
	padding: 0 5px;
}
header h1.logo{ width: 76px; height: 15px; line-height: 15px; font-size: 0; margin-right: 10px;}
header h1.logo>img{ width:76px; height: 15px;}
header .header-r{ flex-grow: 1; display: flex; align-items: center; }
header .search-box{ flex-grow: 1; padding-left: 5px; background-color: #fff; color: #969696; height: 20px; 
border-radius: 4px; font-size: 0; line-height: 20px;}
header .search-box i.mui-icon{ padding: 0 10px; font-size: 18px;}
header .search-box span{ margin-left: 5px; height: 20px; line-height: 20px; font-size: 14px; overflow: hidden;}
header .header-action{ display: flex; align-items: center; margin-left: 10px; font-size: 0;}
header .header-action a{ width: 24px; height: 24px; line-height: 24px; text-align: center;
 color: #fff;}
header .header-action a:first-child{ margin-right: 5px;}
header .header-action i.iconfont{ font-size: 22px;}
header .header-action .msg{ position: relative;}
header .header-action .msg .badge{ position: absolute;top: 2px; left: 16px; width: 8px; height: 8px; background: #E62117; border-radius: 50%;
 border:1px #fff solid;}
header .header-action .flag{ width: auto;}
header .header-action .flag i{ margin-top: 2px; display: block; width: 27px; height: 20px;background-size: 110%;
background-position: center; border:1px #fff solid; border-radius: 4px;}
.mui-content{ background-color: #f1f1f1;}
.mui-bar-nav ~ .mui-content .mui-pull-top-pocket{
  top: 38px !important;
}
.mui-segmented-control.video-category{ top: 0; background: #fff; border:none; border-radius: 0; z-index: 10; } 
.mui-segmented-control.video-category i{display: inline-block; width: 20px; height: 23px;
	background-image: url(../v2_images/home-category-i.png);
	background-size: 300% 100%;
	position: relative; top: 6px;
}
.mui-segmented-control.video-category .mui-control-item{ border-left: none; line-height: 36px; border-bottom: 1px #ddd solid;}
.mui-segmented-control.video-category .mui-control-item.mui-active{ background-color: #fff; border-bottom: 2px  #e62117 solid; }
.mui-segmented-control.video-category i.dress{ background-position: -20px 0;}
.mui-segmented-control.video-category i.makeup{ background-position: -40px 0;}

.home-list.mui-table-view-chevron .mui-table-view-cell{ padding:11px 10px ;}
.home-list .mui-table-view-cell:after{ display: none;}
.home-list .img-wrap{ display: block; position: relative; width: 100%; padding-bottom: 56.25%; background-size: 100% auto; background-position: center; background-repeat: no-repeat;}
.home-list .avatar-wrap{ position: absolute; top: -26px; left: 10px; z-index: 1;}
.home-list .preview-content{ position: relative; border:1px #969696 solid; box-shadow: 1px 1px 6px #ddd;}
.home-list li>.title{ padding-left: 72px; font-size: 14px; line-height: 22px;}
.home-list li>.title i{ color: #ccc; position: relative; top: 2px;}
.home-list li>.title i.active{ color: #cfa972;}
.home-list li>.title a{ color: #222;}
.home-list .time{ position: absolute; left: 13px; bottom:6px; height: 20px; font-size: 12px; color: #fff; 
background-color: rgba(45,55,57,.6); padding: 0 5px; border-radius: 4px;}
.products-group{position: absolute;right:2%; text-align: right;bottom:32px; width: 46%;}
.products-group div{position: relative; display: inline-block;  width: 28%; margin-left: -8%;}
.products-group a{ position: relative; display: inline-block; width: 100%; border:2px #fff solid; border-radius: 20%;
 background-size:100%; box-shadow: 1px 1px 2px #ccc; z-index: 1; padding-bottom: 90%; background-repeat:no-repeat;
  background-position: center; background-color: #fff;}
 .products-group div:after{content:""; position: absolute; bottom:28%; right: 23%; width: 50%; height: 36%; z-index: 0; border-radius: 20%;
 box-shadow:6px 6px 10px #767676 ;transform: rotate(12deg); background-color: transparent;}
 .home-list .products-group{}
.home-list .products-group div{}
.home-list .products-group a{}
.home-list .products-group div:after{}
.products-group div:nth-child(1){ z-index: 4;}
.products-group div:nth-child(2){ z-index: 3;}
.products-group div:nth-child(3){ z-index: 2;}
.products-group div:nth-child(4){ z-index: 1;}
.home-list .v-name{ display: block; padding-left: 10px; line-height: 24px; font-size: 12px; color: #222;
white-space: nowrap; overflow: hidden;text-overflow:ellipsis;max-width: 54%; }
.home-list .v-num-group{ display: flex; justify-content: space-between; align-content: center; 
line-height: 32px; font-size: 12px; padding: 0 10px; color: #767676;}
.home-list .v-num-group .item .val{ margin-right: 6px;}
.home-list .v-num-group .item .title{ color: #767676;}
.home-list .v-num-group .item .title i{ margin-left: 5px; position: relative; top: 2px; color: #ccc;}
.home-list .v-num-group .item .title.active i{ color: #E62117;}
.home-list .v-num-group .left .item:first-child{ border-right: 1px #ddd solid; padding-right: 10px; margin-right: 10px;}
.home-list .v-num-group .right .val{ margin: 6px;}
.home-list .avatar-wrap{ box-shadow: -1px 1px 6px #767676;}
footer.footer-nav{ position: fixed; bottom:0; z-index: 10;
display: flex; width: 100%; background-color: #fff; border-top: 1px #ddd solid;}
footer.footer-nav>a{ width: 25%; flex-grow: 1; text-align: center; padding: 5px 0; color: #767676;}
footer.footer-nav>a .wrap{ display: inline-block; padding: 2px 5px; border-radius: 6px; min-width: 70%;}
footer.footer-nav>a.active{ color: #E62117;}
footer.footer-nav>a.active .wrap{ background-color: #ffccd1;}
footer.footer-nav>a .wrap>*{ display: block;}
footer.footer-nav>a .wrap i{ font-size: 24px;}
footer.footer-nav>a .wrap span{ font-size: 12px;}
[data-list=region] li>i{ position: relative; top: 3px;  margin-right: 8px; display: inline-block; width: 29px; height: 21px; background-size: 100%;}
.home-list .recommend:first-child{ display: none;}
.home-list .recommend{ margin-to: 5px; padding: 0 10px; line-height: 26px; color: #767676;}
.home-list .recommend i{ color: #E62117; margin-right: 6px; font-size: 16px;}
.watch-header{ position: relative;}
.watch-header .top{ position: absolute; top: 0; display: flex; justify-content: space-between; width: 100%;}
.watch-header .top a{ position: relative; width: 58px; height: 58px;}
.watch-header .top a i{ position: absolute; top:10px;  width: 28px; height: 28px; font-size: 18px; line-height: 28px; text-align: center; background: #fff; border-radius: 50%; color: #767676;
box-shadow: 1px 0 6px #ddd;}
.watch-header .top a.left i{ left:8px}
.watch-header .top a.right i{ right: 8px;}
.watch-header iframe{}
.watch-header .time{ position: absolute; left: 8px; bottom: 10px; height: 20px; line-height: 20px; padding: 0 5px; background-color: rgba(21,21,21,.6);
 color: #fff; font-size: 12px; border-radius: 4px;}
.watch-content-header{ margin-bottom: 12px; padding: 20px 20px 0;}
.watch-content-header .watch-title{ margin: 0 0 8px; font-size: 16px; font-weight: 600; font-size: 14px;}
.watch-content-header .watch-num-info{ display: flex; justify-content: space-between; font-size: 12px; margin-bottom: 8px;}
.watch-content-header .watch-num-info .left{ color: #999;}
.watch-content-header .watch-num-info .left .val{ margin-right: 8px;}
.watch-content-header .watch-num-info .right{ display: flex; align-items: center;}
.watch-content-header .watch-num-info .right .like{ display: flex; align-items: center; height: 24px;  border:1px #767676 solid; border-radius: 4px;
 padding: 0 5px; margin-right: 3px;}
.watch-content-header .watch-num-info .right .like .val{ margin-right: 5px; color: #999;}
.watch-content-header .watch-num-info .right .like .val .mui-spinner{ width: 16px; position: relative; top: 3px; }
.watch-content-header .watch-num-info .right .like .title{ color: #ccc;}
.watch-content-header .watch-num-info .right .like.active .title{ color: #E62117;}
.watch-content-header .watch-num-info .right .like .title i{ position: relative; top: 1px;}
.watch-content-header .watch-num-info .right .share{ display: flex; align-items: center; height: 24px; background-color: #E62117; color: #fff; padding: 5px; border-radius: 4px;}
.watch-card { position: relative; padding: 8px 8px 8px 50px; background: #fff; box-shadow: 0 0 4px #aaa; display: flex; justify-content: space-between;}
.watch-card .avatar-wrap{ position: absolute; top: -10px; left: -10px; box-shadow: -3px 1px 4px #ddd;}
.watch-card .name{ margin-bottom: 5px; color: #222;}
.watch-card .name>span{ font-style: italic; font-weight: 500;}
.watch-card .name>i{ color: #ccc; margin-right: 5px; font-size: 18px;}
.watch-card .name.active>i{ color: #cfa972;}
.watch-card .follow{}
.watch-card .follow a{ display: inline-block;border:1px #999 solid; color: #767676; font-size: 12px; height: 18px; line-height: 18px; padding: 0 5px;
 border-radius: 4px; min-width: 45px; background: #fff;}
.watch-card .follow a[disabled]{ opacity: .8; cursor: no-drop;}
.watch-card .follow a .mui-spinner{ display: none; width: 16px; height: 16px;}
.watch-card .follow a[disabled] .mui-spinner{ display: inline-block;}
.watch-card .follow a[disabled]{ background: transparent !important; border-color: transparent !important;}
.follow .active .mui-spinner:before{ display: none;}
.watch-card .left{ max-width: 165px; overflow: hidden;}
.watch-card .right{ display: flex; align-items: center; color: #222;}
.watch-card .right:active{ background: #f1f1f1;}
.watch-card .right .num{ margin-right: 8px;}
.watch-card .right .num .v-num{ font-size: 14px;}
.watch-card .right .num .v-num:first-child{ margin-bottom: 5px;}
.watch-card .right .num .v-num span{ margin-right: 3px;}
.watch-card .right .num .v-num i{ position: relative; top: 1px;}
.watch-list-content{ padding: 0 12px; margin-bottom: 12px;}
.watch-list-content .sub-nav{ display: inline-block; width: auto; border:none; margin-bottom: 5px;}
.watch-list-content .sub-nav .mui-control-item{ width: auto; border:1px #767676 solid; padding: 0 8px; font-size: 14px; line-height: 30px;
color: #222;}
.watch-list-content .sub-nav .mui-control-item:first-child{ border-radius: 4px 0 0 4px; border-right: none;}
.watch-list-content .sub-nav .mui-control-item:last-child{ border-radius: 0 4px 4px 0; border-left: none;}
.watch-list-content .sub-nav.mui-segmented-control .mui-control-item.mui-active{ background: #E62117; color: #fff; border-color: #E62117;}
.watch-list-content .sub-nav .mui-control-item span{ margin-left: 5px; color: #999;}
.watch-list-content .sub-nav .mui-control-item.mui-active span{ color: #fff;}
.r-product-list{ list-style: none; margin: 0; padding: 0; display: flex!important; justify-content: space-between; flex-wrap:wrap;}
.r-product-list li{ width: 49%; position: relative; margin-bottom: 10px;}
.r-product-list .p-img{ padding-bottom: 100%; position: relative; background-size:100% auto; background-repeat: no-repeat;
 background-position: center top;}
.r-product-list .p-img>*{ position: absolute;}
.r-product-list .p-img .site{ bottom:5px; right: 7px;background-color: rgba(45,55,57,.6); color: #fff; font-size: 12px; border-radius: 4px;
padding:0 5px;}
.r-product-list .p-info{ padding-right: 30px;}
.r-product-list .p-info.no-cart{padding-right: 0;}
.r-product-list .p-info .p-title{ font-size: 12px; color: #222;}
.r-product-list .p-cart{ position: absolute; right: 0; bottom: 8px; width: 30px; height: 30px; line-height: 30px; text-align: center; 
background: #999; color: #fff; border-radius: 4px; font-weight: normal;}
.r-product-list .p-cart i{ font-size: 24px;}
.r-product-list .p-cart.active{ background-color: #E62117;}
.r-product-list .p-price .cp{ font-size: 16px; color: #222; font-weight: bold; margin-right: 3px;}
.r-product-list .p-price .op{ font-size: 14px; color: #767676; text-decoration: line-through;}
.related-v-wrap>h2{ margin: 0 0 10px 0; p height: 32px; line-height: 32px; border-top: 1px #222 solid; border-bottom: 1px #222 solid; font-size: 14px;
 font-weight:600 ; padding: 0 24px;}
.r-v-list{ list-style: none; margin: 0; padding: 0 12px 20px;}
.r-v-list>li{ position: relative; border:1px #ddd solid; padding: 2px;
 display: flex; margin-bottom: 15px;}
 .r-v-list>li:last-child{ margin-bottom: 0;}
.r-v-list>li .avatar-wrap{ position: absolute; left: 40%; top: -8px; margin-left: 12px;}
.r-v-list>li .left{ width: 40%;}
.r-v-list>li .right{ width: 60%; padding-left: 15px;}
.r-v-list>li .r-v-pic{ display: block; width: 100%; height: 105px; position: relative; background-size: auto 100%; background-position: center; 
background-repeat: no-repeat;}
.r-v-list>li .r-v-pic>i{ position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%); color: #fff; font-size: 48px;}
.r-v-list>li .r-v-name{ padding-left: 40px;}
.r-v-list>li .avatar-wrap{ width: 40px; height: 40px;}
.r-v-list>li .avatar-wrap>img{ width: 40px; height: 40px;}
.name-crown-group{ font-size: 16px;}
.name-crown-group i{ color: #ccc; margin-right: 1px; font-size: 20px;}
.name-crown-group.active i{ color: #cfa972;}
.r-v-list>li .name-crown-group{ font-size: 14px;}
.r-v-list>li .name-crown-group .name{ color: #222;}
.r-v-list>li .right h3{ margin-top: 8px; height: 36px; line-height: 18px; overflow: hidden; font-size: 12px; font-weight: 400;}
.r-v-list>li .right h3 a{ color: #767676;}
.r-v-list>li .r-v-info{ padding-right: 110px; font-size: 12px; color: #999; line-height: 16px;}
.r-v-list>li .r-v-info .row{ display: flex; justify-content: flex-start;}
.r-v-list>li .r-v-info .row>*{ flex-grow: 0; width: auto;}
.r-v-list>li .r-v-info .row .val{text-align: right;}
.r-v-list>li .r-v-info .row .title{ padding-left: 10px;text-align: right;}
.r-v-list>li .products-group { width: 26%; right: 1%; bottom:-9px}
.r-v-list>li .products-group div{ width: 39%; margin-left: -14%;}
.r-v-list>li .products-group a{ }
.r-v-list>li .products-group div:after{box-shadow:6px 5px 7px #767676 ;}
.msg-input-box{ position: relative; padding: 6px; font-size: 14px; border:1px #ddd solid;}
.msg-input-box .placeholder{ position: absolute; color: #999; top: 6px; left:6px; height: 20px; line-height: 20px;}
.msg-input-box textarea{ border:none; padding: 0; margin: 0; height: 20px; line-height: 20px; font-size: 12px;}
.msg-input-box button{ position: absolute; top: 50%; right:6px; padding: 0 6px; font-size: 14px;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.msg-input-box textarea{
	padding-right: 60px;
}

#sharePopver{ width: 300px;}
#sharePopver ul{ list-style: none; margin: 0; padding: 10px 0 0 0; display: flex; flex-wrap: wrap;}
#sharePopver ul li{ width: 25%; text-align: center; padding-bottom: 10px;}
#sharePopver ul li a{ display: inline-block; width: 60px; height: 60px; line-height: 60px;}
#sharePopver ul li i{ font-size: 32px;}
#sharePopver ul li a.default:active{ background-color: #f1f1f1;}
.icon-wrap{ border:1px #767676 solid; border-radius: 50%;}
.icon-wrap.default{ background-color: #fff; border-color: #767676; color: #999;}
.icon-wrap.facebook{ background-color: #3b5998; border-color: #3b5998; color: #fff;}
.icon-wrap.twitter{ background-color: #00acee; border-color: #00acee; color: #fff;}
.icon-wrap.google{ background-color: #d73d32; border-color: #d73d32; color: #fff;}
.icon-wrap.pinterest{ background-color: #cb1f26; border-color: #cb1f26; color: #fff;}
.loader.bottom {
    border-top-color: #e62117;
    border-right-color: #e62117;
    border-left-color: #e62117;
}
.list-bottom{ text-align: center; color: #999; font-size: 12px;}
#c-list .comment-wrap{ position: relative; display: flex; font-size: 12px; color: #999; width: 100%;}
#c-list .comment-wrap>.avatar-wrap{ margin-right: 8px; min-width: 36px; min-height: 36px; width: 36px; height: 36px; border-width: 1px;
box-shadow: none;}
#c-list .comment-wrap>.avatar-wrap img{ width: 34px; height: 34px;}
#c-list .comment-wrap .back,#c-list .comment-wrap .del{ position: absolute; top: -10px; right: -10px; color: #999; padding: 10px;}
#c-list .comment-wrap .comment-body{ padding-right: 20px; flex-grow: 1;}
#c-list .comment-wrap .comment-body p{ font-size: 12px; line-height: 18px; max-height: 36px; overflow: hidden;}
#c-list .comment-wrap .comment-body .c-name{ font-size: 14px; margin-right: 10px; color:#222; text-decoration: underline;}
#c-list .comment-wrap .comment-body .comments-time i{ font-size: 12px;}
.comment-sub-list{ margin-top: 10px; padding-left: 44px; list-style: none;}
.comment-sub-list li{ position: relative; display: flex; padding-bottom: 5px;}
.comment-sub-list .avatar-wrap{ min-width: 32px; min-height: 32px; width: 32px; height: 32px; border-width: 1px; box-shadow: none;
 margin-right: 5px;}
.comment-sub-list .avatar-wrap img{ width: 30px; height: 30px;}
.comment-sub-list .comment-body{ font-size: 12px; flex-grow: 1;}
.comment-sub-list .comment-body .c-name{ margin-right: 5px;}
.comment-sub-list .comment-body .comments-time{ color: #999;}
.comment-sub-list .comment-body .comments-time i{ font-size:12px;}
.comment-sub-list .comment-body p{ margin-top: 3px; font-size: 12px; line-height: 18px; max-height: 36px; overflow: hidden;}
.comment-sub-list .back,.comment-sub-list .del{ position: absolute; top: 0; right: 0; color: #999;}
.load_more{ display:block; border:1px #999 solid; background-color:#f1f1f1; width: 80%; font-size: 16px; color: #767676; height: 32px; 
line-height: 32px; text-align: center; margin: 5px auto;}
.nodata{ color: #999; font-size: 12px; text-align: center;}
#selectVariation .img-wrap{ background-size: 100% auto; background-position: center center; background-repeat: no-repeat;}
.mui-numbox{ width: 150px;}
#selectVariation [data-action="add"]:active{ background: #f1f1f1; color: #E62117;}
.watch-header .top a.right.active:before{ content:""; position: absolute; width: 9px; height: 9px; background: #E62117; border-radius: 50%;
top: 7px; right: 7px; z-index: 1;}
#msgReply{ background: #fff;}
.mui-popover.mui-popover-action.mui-popover-top{ bottom:auto; top: 0;}
.mui-popover .modal-action{ display: flex; border-top: 1px #ddd solid;}
.mui-popover .modal-action a{ width: 50%; flex-grow: 1; text-align: center; height: 36px; line-height: 36px; font-size: 14px;}
.mui-popover .modal-action a[data-action=cancel]{ border-right: 1px #ddd solid; color: #999;}
.mui-popover .modal-action a[data-action=save]{ color: #E62117;}
#msgReply textarea{ margin:0; font-size: 12px; color:#222; padding: 8px 10px;}
#msgReply textarea:focus{ border-color: #767676; box-shadow: 1px 1px 6px #ddd inset;}
#msgReply .modal-content{ padding: 10px 10px 5px;}
.login-alert{ font-size: 16px; height: 36px; line-height: 36px; color: #767676;}
.login-alert a{ margin-left:5px ; color: #E62117; text-decoration: underline;}
.none-comment,.none-product{ display: flex; justify-content: center; align-items: center; padding: 25px 0; text-align: center; color: #999; line-height: 48px;}
.none-comment i,.none-product i{ font-size: 48px;}
.none-comment span,.none-product  span{ padding-left: 15px; font-size: 16px; line-height: 48px;}
.comment-sub-list .at_name{ font-size: 12px; color: #ccc;}
.watch-content-header .watch-num-info .right .like[disabled]{ opacity: .8; cursor: no-drop;}
.r-itmes{margin: 0 -12px 15px; border-top:1px #767676 solid;  border-bottom:1px #767676 solid;line-height: 32px;  font-size: 14px;font-weight: 600; padding: 0 12px; color: #767676;}
.watch-header .location-info{ position: relative; top: 10px; right: 10px;  background-color: #fff; font-size: 12px; padding: 1px; border-radius: 3px;
 display: flex; flex-wrap:wrap;flex-direction:column; width: 40px; height: 46px; align-content: space-between; }
 .watch-header .location-info img{ width: 38px;}
 .watch-header .location-info span{ text-align: center; line-height: 14px; padding-top: 1px;}
.related-v-wrap .r-product-list{ padding: 0 12px 20px}
.r-v-list.r-v-list0>li .right h3{ height: 54px;}
#selectVariation .action{ margin: 0 -16px;}
.search-header2{ display: flex; align-items: center; background: #fff;}
.search-header2 .mui-input-row { flex-grow: 1; margin-left: 10px;}
.search-header2 .mui-input-row label{ display: none;}
.search-header2 .mui-input-row input{ width: 100%;}
.search-header2 .right{ display: flex;}
.search-header2 .right a{ width:44px; height: 44px; line-height: 44px; color: #767676; text-align: center;}
.search-header2 .right a i{ font-size: 18px;}
.down-load{ position: fixed; bottom: 0;}
.down-load>div{ flex-grow: 1; text-align: left; padding-left: .5rem; font-size: .75rem;}
.down-load>div strong{ font-size: .875rem; margin-bottom: .25rem; }
.down-load>div span{ font-weight:normal;}
.down-load a.down-btn.ios{ background-color: transparent; background-image: url(../v2_images/app-store-ios.png);
    min-width:4.40625rem; min-height:1.3125rem;
    background-size: 100%; border-radius: 0; background-repeat: no-repeat;}
.down-load a.down-btn.android{ background-color: transparent; background-image: url(../v2_images/app-store-ad.png);
    min-width:4.40625rem; min-height:1.3125rem;
    background-size: 100%;border-radius: 0; background-repeat: no-repeat;}
.down-load{
	background: rgba(0,0,0,.9);
    padding: .5rem 0;
    color: #fff;
    border-bottom: none;
    text-align: center;
    display: -webkit-flex; display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9;
    min-width: 20rem;
    width: 100%;
    /*top: 0;*/
    min-height: 2.75rem;
}
.down-load span{
	font-size: .75rem;
	line-height: 1rem;
	max-height: 3rem;
}
.down-load a.down-logo{
    width: 2.25rem;
    height: 2.25rem;
    background: url(../v2_images/logon.png) no-repeat center center;
    background-size: cover;
    margin-left: .5rem;
    min-width: 2.25rem;
}
.down-load a.down-btn{
    height: 1.75rem;
    background-color: #e62117;
    text-align: center;
    line-height: 1.75rem;
    padding: 0 .5rem;
    border-radius: .5rem;
    color: #fff;
    font-size: .75rem;
    margin-right: .5rem;
    

@media (min-width: 360px) {
	.products-group div:after{box-shadow:9px 9px 10px #767676 ;}
	.home-list .v-name{ font-size: 14px;}
	.r-v-list>li .r-v-info .row{justify-content: space-between}
	.r-v-list>li .r-v-info .row>*{ flex-grow: 1; width: 50%;}
	.r-v-list>li .products-group div:after{box-shadow:10px 7px 6px #767676 ;}
	.r-v-list>li .r-v-info .row .val{width: 70%;}
	.r-v-list>li .r-v-info .row .title{width: 30%;}
}
